/* Import our external fonts */
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Lato:wght@400;700;900&family=Dela+Gothic+One&display=swap');

/* Basic setup parameter to ensure consistent styling across browsers with different defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Little bit of CSS native variable functions for fun */
:root {
  --social-icon-color: rgb(117, 117, 117);
  --primary-color: rgb(226, 130, 130);
  --secondary-color: rgb(201, 76, 76);
  --background-dark: rgba(58, 58, 58,.75);
}

/* Setup the styling for the entire body */
body {
  margin: 0 auto;
  background-color: rgb(62, 60, 66);
  box-sizing: border-box;
  max-width: 900px;
  min-width: 550px;
  text-align: center;
  font-family:'Lato', Tahoma, Geneva, Verdana, sans-serif;

  background: url('../image/bg.webp') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header, nav, footer, section, article, aside {
  background-color: rgba(245, 245, 245,.75);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(62, 60, 66);
}

header, nav, footer {
  height: 100px;
}

section, article {
  height: 40em;
  width: 75%;
  flex-direction:column;
  justify-content: start;
  align-items:flex-start;
  padding: 2em;
}

section img, article img {
  max-width: 100%;
}

aside {
  height: 80em;
  width: 25%;
  float: right;
  flex-direction: column;
  justify-content: start;
}

nav a {
  text-shadow: 1px 1px 4px black;
  font-size: 24px;
  font-weight: 900;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: .5em;
  text-decoration:none;
  transition-duration: 500ms;
}

nav a:hover {
  /* transform:scale(1.1); */
  animation: tada;
  animation-duration: 500ms;
}

nav a:visited {
  color:var(--primary-color);
}

nav {
  position:sticky;
  top: 0;
  display: flex;
  justify-content:space-around;
}

header {

  position: relative;
  z-index: 1;
  animation-name: fadeinout;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;

  text-shadow: 1px 1px 4px black;
  font-size: clamp(30px,1em + 3vw, 4em);
  font-weight: 900;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: .75em;
  justify-content: space-around;

}
header div {
  display:flex;
  align-items: center;
}


#header-heart {
  color:var(--primary-color);
}

@keyframes fadeinout {
  0% {box-shadow: 0px 0px 3px 3px rgba(100, 149, 237, 0);}
  100% {box-shadow: 0px 0px 3px 3px rgba(100, 149, 237, 1);}
}


section h1 {
  font-family:'Chango', Tahoma, Geneva, Verdana, sans-serif;
}

article h1 {
  font-family:'Chango', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: rgba(58, 58, 58,.75);
}

footer i {
  font-size: 3em;
}

#fb-social, #yt-social {
  transition: ease-out 700ms;
  color:var(--social-icon-color);

}
#fb-social:hover {
  transition: color 500ms;
  color: rgba(45, 136, 255, .9);
}

#yt-social:hover {
  transition: color 500ms;
  color: rgba(255, 45, 45, 0.9);
}

#ig-social {
  animation-duration: 1.2s;
  animation-name: igmouseout;
  color: var(--social-icon-color);
  
}

#ig-social:hover {
  animation-name: ighover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}


@keyframes ighover {
  0% {
    color: var(--social-icon-color);
    background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  99% {
    color: transparent;
  }
  100% {
    color: transparent;
    background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}

@keyframes igmouseout {
  0% {
    color: transparent;
    background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text; 
  }
  
  50% {
    color: var(--social-icon-color);
  }  

  100% {
    color: var(--social-icon-color);
    background: transparent;
    background-clip: unset;
    -webkit-background-clip: unset; 
  }

}
  

.card { 
  box-shadow: 0px 0px 0px 2px var(--background-dark);
  border-radius: 5px;
  min-height: 3em;
  width:90%;
  max-width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-header {
  background-color: var(--secondary-color);
  padding: 5px;
  font-family:'Chango', Tahoma, Geneva, Verdana, sans-serif;
  font-size: .75em;
  border-radius:5px 5px 0px 0px;

}

.card-body {
  padding: 5px;
  font-size: 1em;
  border-top: 1px solid var(--social-icon-color); 
}

.card-button {
  padding: 5px;
  margin: 5px;
  color:whitesmoke;
  background-color: var(--social-icon-color);
  border-radius: 5px;
  border: none;

  transition-duration: 500ms;
  font-family:'Delta Gothic One', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 18px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.card-button:hover {
  transform: scale(1.1);
  background-color: var(--primary-color);
  color:black;
  transition-duration: 500ms;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
}

