* {
  box-sizing: border-box;

}

body {
  margin: 0 auto;
  background-color: rgb(62, 60, 66);
  box-sizing: border-box;
  max-width: 900px;
  text-align: center;

  background: url('../image/bg.webp') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header, nav, footer, section, article, aside {
  background-color: rgba(245, 245, 245,.75);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(62, 60, 66);
}

header, nav, footer {
  height: 5em;
}

section, article {
  height: 50em;
  width: 75%;
}

aside {
  height: 100em;
  width: 25%;
  float: right;
}

a {
  text-shadow: 1px 1px 4px black;
  font-size: 24px;
  font-weight: 900;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: .5em;
  text-decoration:none;
  transition-duration: 500ms;
}

a:hover {
  /* transform:scale(1.1); */
  animation: tada;
  animation-duration: 500ms;
}

a:visited {
  color:salmon;
}

nav {
  position:sticky;
  top: 0;
  display: flex;
  justify-content:space-around;
}

header {
  position: relative;
  z-index: 1;
  animation-name: fadeinout;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  
  text-shadow: 1px 1px 4px black;
  font-size: 24px;
  font-weight: 900;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: .5em;

}

@keyframes fadeinout {
  0% {box-shadow: 0px 0px 3px 3px rgba(100, 149, 237, 0);}
  100% {box-shadow: 0px 0px 3px 3px rgba(100, 149, 237, 1);}
}

footer {
  display: flex;
  justify-content: space-around;
}

footer i {
  font-size: 3em;
}

#fb-social, #yt-social {
  transition: ease-out 1s;

}
#fb-social:hover {
  transition: color 500ms;
  color: rgba(45, 136, 255, .9);
}

#yt-social:hover {
  transition: color 500ms;
  color: rgba(255, 45, 45, 0.9);
}

#ig-social {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: igmouseout; 
  
}

#ig-social:hover {
  animation-name: ighover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}


@keyframes ighover {
  0% {
    color: black;
    background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  99% {
    color: transparent;
  }
  100% {
    color: transparent;
    background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}

@keyframes igmouseout {
  0% {
    color: transparent;
    background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  99% {
    color: black;
  }
  100% {
    color: black;
    background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
  


