body {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5em 5em 250px 250px 5em;
  gap: 1em;
}

header {
  border: 1px solid black;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  text-align: center;
  text-justify: center;
}

nav {
  border: 1px solid black;
  grid-area: 2 / 1 / 3 / 4;
}

section {
  border: 1px solid black;
  grid-area: 3 / 1 / 4 / 3;
}

article {
  border: 1px solid black;
  grid-area: 4 / 1 / 4 / 3;
}

aside {
  border: 1px solid black;
  grid-area: 3 / 3 / 5 / 4;
}

footer {
  border: 1px solid black;
  grid-area: 5 / 1 / 6 / 4;
}