/* Import our external fonts */
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Lato:wght@400;700;900&family=Dela+Gothic+One&display=swap');

/* Basic setup parameter to ensure consistent styling across browsers with different defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Little bit of CSS native variable functions for fun */
:root {
  --social-icon-color: rgb(117, 117, 117);
  --primary-color: rgb(226, 130, 130);
  --secondary-color: rgb(201, 76, 76);
  --background-dark: rgba(58, 58, 58,.75);
}

/* Setup the styling for the entire body */
body {
  margin: 0 auto;
  background-color: rgb(62, 60, 66);
  box-sizing: border-box;
  max-width: 900px;
  min-width: 550px;
  text-align: center;
  font-family:'Lato', Tahoma, Geneva, Verdana, sans-serif;

  background: url('../image/bg.webp') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header, nav, footer, section, article, aside, .section-about {
  background-color: rgba(245, 245, 245,.75);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(62, 60, 66);
}

header, nav, footer {
  height: 100px;
}

section, article {
  height: 40em;
  width: 75%;
  flex-direction:column;
  justify-content: start;
  align-items:flex-start;
  padding: 2em;
}

section img, article img {
  max-width: 100%;
}

.hero {
  position:relative;
  width:100%;
  height:75vh;
  padding:0;
  background: unset;
  display:flex;
  align-items: center;
  justify-content:start;
}

.hero h1 {
  margin-top:40px;
  color:white;
  z-index: 5;
  font-size: 5em;
  text-shadow: 2px 2px 10px black;
}

.hero h2 {
  color:white;
  z-index: 5;
  font-size: 2em;
  text-shadow: 3px 3px 10px black;
}

.hero::before{
  position:absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  content:"";
  background-image: url('../image/hero.jpeg');
  background-color: var(--background-dark);
  width:100%;
  height:75vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: .8;
}

aside {
  height: 80em;
  width: 25%;
  float: right;
  flex-direction: column;
  justify-content: start;
}

.section-about{
  height:100vh;
  width:100%;
  align-items: center;
  justify-content: start;
}

.section-contact {
  height:100vh;
  width:100%;
  align-items: center;
  justify-content: start;
}

nav a {
  text-shadow: 1px 1px 4px black;
  font-size: 24px;
  font-weight: 900;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: .5em;
  text-decoration:none;
  transition-duration: 500ms;
}

nav a:hover {
  /* transform:scale(1.1); */
  animation: tada;
  animation-duration: 500ms;
}

nav a:visited {
  color:var(--primary-color);
}

nav {
  position:sticky;
  top: 0;
  display: flex;
  justify-content:space-around;
  z-index: 9000;
}

header {

  position: relative;
  z-index: 9900;
  animation-name: fadeinout;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;

  text-shadow: 1px 1px 4px black;
  font-size: clamp(30px,1em + 3vw, 4em);
  font-weight: 900;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: .75em;
  justify-content: space-around;

}
header div {
  display:flex;
  align-items: center;
}


#header-heart {
  color:var(--primary-color);
}

@keyframes fadeinout {
  0% {box-shadow: 0px 0px 3px 3px rgba(100, 149, 237, 0);}
  100% {box-shadow: 0px 0px 3px 3px rgba(100, 149, 237, 1);}
}


section h1 {
  font-family:'Chango', Tahoma, Geneva, Verdana, sans-serif;
}

article h1 {
  font-family:'Chango', Tahoma, Geneva, Verdana, sans-serif;
  align-self:center;
}

.video {
  margin-top: 75px;
  align-self: center;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: rgba(58, 58, 58,.75);
}

footer i {
  font-size: 3em;
}

#fb-social, #yt-social {
  transition: ease-out 700ms;
  color:var(--social-icon-color);

}
#fb-social:hover {
  transition: color 500ms;
  color: rgba(45, 136, 255, .9);
}

#yt-social:hover {
  transition: color 500ms;
  color: rgba(255, 45, 45, 0.9);
}

#ig-social {
  animation-duration: 1.2s;
  animation-name: igmouseout;
  color: var(--social-icon-color);
  
}

#ig-social:hover {
  animation-name: ighover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}


@keyframes ighover {
  0% {
    color: var(--social-icon-color);
    background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  99% {
    color: transparent;
  }
  100% {
    color: transparent;
    background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}

@keyframes igmouseout {
  0% {
    color: transparent;
    background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text; 
  }
  
  50% {
    color: var(--social-icon-color);
  }  

  100% {
    color: var(--social-icon-color);
    background: transparent;
    background-clip: unset;
    -webkit-background-clip: unset; 
  }

}
  

.card { 
  box-shadow: 0px 0px 2px 1px var(--background-dark);
  border-radius: 5px;
  min-height: 3em;
  width:90%;
  max-width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-header {
  background-color: var(--secondary-color);
  padding: 5px;
  font-family:'Chango', Tahoma, Geneva, Verdana, sans-serif;
  font-size: .75em;
  border-radius:5px 5px 0px 0px;

}

.card-body {
  padding: 5px;
  font-size: 1em;
  border-top: 1px solid var(--social-icon-color); 
}

.card-button {
  padding: 1px 5px 1px 5px;
  margin: 5px;
  color:whitesmoke;
  background-color: var(--social-icon-color);
  border-radius: 5px;
  border: none;

  transition-duration: 500ms;
  font-family:'Delta Gothic One', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 18px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.card-button:hover {
  transform: scale(1.1);
  background-color: var(--primary-color);
  color:black;
  transition-duration: 500ms;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
}




.hero-wrapper {
  margin-top:15%;
  transform:scale(.75);
}

.error404page {
  height: 100%;
}

.body404, .head404, .eyes404, .leftarm404, .rightarm404, .chair404, .leftshoe404, .rightshoe404, .legs404, .laptop404 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/15979/404-character-new.png) 0 0 no-repeat;
  width: 200px;
  height: 200px;
}

.newcharacter404, .torso404, .body404, .head404, .eyes404, .leftarm404, .rightarm404, .chair404, .leftshoe404, .rightshoe404, .legs404, .laptop404 {
  background-size: 750px;
  position: absolute;
  display: block;
}

.newcharacter404 {
  width: 400px;
  height: 800px;
  left: 50%;
  top: 20px;
  margin-left: -200px;
}

.torso404 {
  position: absolute;
  display: block;
  top: 138px;
  left: 0px;
  width: 389px;
  height: 252px;
  animation: sway 20s ease infinite;
  transform-origin: 50% 100%;
}

.body404 {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 389px;
  height: 253px;
}

.head404 {
  position: absolute;
  top: -148px;
  left: 106px;
  width: 160px;
  height: 194px;
  background-position: 0px -265px;
  transform-origin: 50% 85%;
  animation: headTilt 20s ease infinite;
}

.eyes404 {
  position: absolute;
  top: 92px;
  left: 34px;
  width: 73px;
  height: 18px;
  background-position: -162px -350px;
  animation: blink404 10s steps(1) infinite, pan 10s ease-in-out infinite;
}

.leftarm404 {
  position: absolute;
  top: 159px;
  left: 0;
  width: 165px;
  height: 73px;
  background-position: -265px -341px;
  transform-origin: 9% 35%;
  transform: rotateZ(0deg);
  animation: typeLeft 0.4s linear infinite;
}

.rightarm404 {
  position: absolute;
  top: 148px;
  left: 231px;
  width: 157px;
  height: 91px;
  background-position: -442px -323px;
  transform-origin: 90% 25%;
  animation: typeLeft 0.4s linear infinite;
}

.chair404 {
  position: absolute;
  top: 430px;
  left: 55px;
  width: 260px;
  height: 365px;
  background-position: -12px -697px;
}

.legs404 {
  position: absolute;
  top: 378px;
  left: 4px;
  width: 370px;
  height: 247px;
  background-position: -381px -443px;
}

.leftshoe404 {
  position: absolute;
  top: 591px;
  left: 54px;
  width: 130px;
  height: 92px;
  background-position: -315px -749px;
}

.rightshoe404 {
  position: absolute;
  top: 594px;
  left: 187px;
  width: 135px;
  height: 81px;
  background-position: -453px -749px;
  transform-origin: 35% 12%;
  animation: tapRight 1s linear infinite;
}

.laptop404 {
  position: absolute;
  top: 186px;
  left: 9px;
  width: 365px;
  height: 216px;
  background-position: -2px -466px;
  transform-origin: 50% 100%;
  animation: tapWobble 0.4s linear infinite;
}

@keyframes sway {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(4deg);
  }
  45% {
    transform: rotateZ(4deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  70% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-4deg);
  }
  90% {
    transform: rotateZ(-4deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes headTilt {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-4deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  38% {
    transform: rotateZ(2deg);
  }
  42% {
    transform: rotateZ(2deg);
  }
  45% {
    transform: rotateZ(-4deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  70% {
    transform: rotateZ(0deg);
  }
  82% {
    transform: rotateZ(0deg);
  }
  85% {
    transform: rotateZ(4deg);
  }
  90% {
    transform: rotateZ(4deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes typeLeft {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(7deg);
  }
  75% {
    transform: rotateZ(-6deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes typeRight {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-6deg);
  }
  75% {
    transform: rotateZ(7deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes tapWobble {
  0% {
    transform: rotateZ(-0.2deg);
  }
  50% {
    transform: rotateZ(0.2deg);
  }
  100% {
    transform: rotateZ(-0.2deg);
  }
}
@keyframes tapRight {
  0% {
    transform: rotateZ(0deg);
  }
  90% {
    transform: rotateZ(-6deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes blink404 {
  0% {
    background-position: -162px -350px;
  }
  94% {
    background-position: -162px -350px;
  }
  98% {
    background-position: -162px -368px;
  }
  100% {
    background-position: -162px -350px;
  }
}
@keyframes pan {
  0% {
    transform: translateX(-2px);
  }
  49% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  99% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}


/* Contact Form */
 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 75%;
} 